a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/**Footer**/
footer {
    border-top: 1px solid #d9d9d9;
    display: block;
    text-align: center;
    color: #8c8989;
    padding: 62px 0 40px;
}
.footerone {
	margin-left: auto;
	margin-right: auto;
	width:100%;
}
.footertwo{
	clear:both;width:92%;margin:15px auto;padding:0px;overflow: hidden;text-align: center;
}
.top {
    margin-bottom: 61px;
    display: inline-block;
    background: url(../imgs/totop.png) 0 0 no-repeat;
    width: 82px;
    height: 82px;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}

.top:hover {
    background-position: right 0;
}

.f_logo {
    margin:0px 0px 40px 60px;display: inline-block;
}
.copy {
    font-size: 12px;
    line-height: 18px;
}

.sub_copy {
    margin-top: -4px;
}
/****顶部导航栏菜单****/
.menutop{height:100px;width:100%;margin:0px 0px 20px 0px;overflow:hidden;font-size:20px;border-bottom:#d9d9d9 solid 1px;}
.menutop img{width:80px;height:80px;float:left;margin:10px 20px;}
.menutop ul{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 35px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}
.menutop ul li{
    float:left;/* 向左漂移，将竖排变为横排 */
    margin:0px 15px;
}
/* ul中的a样式(包括尚未点击的和 ,.menutop ul li a:visited 点击过的样式) */
.menutop ul li a{
    color: #1d1d1d; /* 文字颜色 */
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}
/*ul中的a样式(鼠标移动到元素中的样式) */
.menutop ul li a:hover{
    color: #8fc4cb; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
/*ul中的a样式(鼠标点击元素时的样式) */
.menutop ul li a:active{
    background-color: #465c71; /* 背景色 */
    color: #cfdbe6; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}

a{color: #999;text-decoration: none;}
a:hover{
    color: #8fc4cb; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}