.elastislide-wrapper nav span {
    top: 40%;
    left: 20px;
}
.elastislide-wrapper nav span.elastislide-next {
    right: 20px;
    left: auto;
    background-position: right 0;
}
.elastislide-carousel {
   width:100%;min-height:100px;position: relative;overflow: hidden;
}
.elastislide-carousel ul {
    position:absolute;
    top: 0px;
    left:0px;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    list-style-type: none;
    display: block;max-height:175px; transition: all 500ms ease-in-out;
}
.elastislide-carousel ul li {
    margin: 0px;
    -webkit-backface-visibility: hidden;
    min-width: 20px;max-width: 214px; max-height: 175px;
     height: 100%;
    display: inline-block;
}
.elastislide-carousel ul li a {
    display: inline-block;
    width: 100%;height: 100%;
    padding: 0px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.elastislide-carousel ul li a img {
    display: block;
    width: 100%;
    max-height:100px;
}
.elastislide-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 22px 70px 22px 70px;
    min-height: 60px;
    background-color: #474343;
    transition: 0.4s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.elastislide-wrapper:hover {
    background-color: #000;
}

.elastislide-wrapper.elastislide-loading {
    background-image: url(../imgs/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.elastislide-vertical ul li {
    display: block;
}


/* Navigation Arrows */

.elastislide-wrapper nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.elastislide-wrapper nav span {
    position: absolute;
    width: 16px;
    height: 27px;
    text-indent: -9000px;
    cursor: pointer;
    background: url(../imgs/prevnext1.png) 0 0 no-repeat;
}

.elastislide-wrapper nav span:hover {
    opacity: 0.8;
}